
$baseBlueDark:#05204A; 

@mixin boxHover {
    border-radius: 19px;
    background: #f0f0f0;
    box-shadow:  26px 26px 52px #cecece,
             -26px -26px 52px #ffffff;
}

@mixin borderDefault {
    border: 1px solid rgb(168, 164, 164);
    border-radius: 19px;
}

@mixin buttonStyle($paddingLeftRight) {
    padding: 10px $paddingLeftRight;
    border-radius: 7px;
    background-color: #fff;
    @include borderDefault();
    cursor: pointer;
}



section {
    margin: 0 70px;
    
    .intro { 
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-self: center;

        .description-container {
            margin: 0 80px;

            .title-home {
                font-size: 50px;
            }

            button {
                @include buttonStyle(40px);

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .home-btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        grid-auto-rows: minmax(170px, auto);
        justify-content: center;
        margin: 20vh 0 30vh;
        
       
        
        .text { 
             display: inline-flex;
             @include borderDefault();
            // padding-bottom: 20px;
            // cursor: pointer;
            
            // icons 
            .fa-pills, 
            .fa-kit-medical,
            .fa-bed-pulse,
            .fa-book-medical { 
                font-size:80px;
                padding: 50px;
                padding-bottom: 75px;
                background-color: $baseBlueDark;
                width: 150px;
                color: rgb(233, 233, 233);
            }

   

            &:hover {
                @include boxHover();
            }
            
            // button text container
            .btn-text {
                margin-top: 20px;
                margin-bottom: 10px;
                // link title
                a {
                    text-decoration: none;
                    color: $baseBlueDark;
                    margin-left: 30px;
                    font-size: 1.3em;
                    font-weight: 600;

    
                    &:hover :not(.click-btn){
                        text-decoration: underline;
                        font-weight: 800;
                    }
                }

                p {
                    margin-left: 30px;
                    width: 300px;
                    color: #57585a; 

                }

                .click-btn{ 
                    margin-left: 30px;
                    font-size: 1em;
                    color: #464b53; 

                    &:hover { 
                        color: $baseBlueDark;
                        font-weight: 900;
                    }
                }
            }
            
        }
    }

    .find-hospital { 
        margin: 0 80px 100px;
        
        h2 {
            font-size: 35px;
        }

        .map-container {
            width: 100%;
            height: 400px;
            @include borderDefault();     
        }
    }

    .feedback-container {
        margin: 0 80px 100px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 35px;
        }

        input {
            width: 80%;
            margin: 20px;
            @include borderDefault();
            padding: 17px;
        }
        
        button {
            @include buttonStyle(80px);
        }
    }

}